<h3 *ngIf="selectedStock == undefined">You have not selected a stock, pick one!</h3>

<h3 *ngIf="selectedStock != undefined">You Selected {{selectedStock.companyName}}</h3>

<div *ngIf="selectedStock != undefined">
    Company name : {{selectedStock.companyName}}<br>
    {{selectedStock.companyName}} price : {{selectedStock.stockPrice | currency}}<br>
    {{selectedStock.companyName}} shares : {{selectedStock.shares}}<br>
    {{selectedStock.companyName}} market capitalization : {{selectedStock.marketCapitalization | currency}}<br>
    <button type="button" (click)="purchaseSharesActivate()">Would you like to purchase shares of this stock?</button>
</div>
<br>
<br>
<form [formGroup]="stockPurchaseForm">
    <div *ngIf="purchaseShares == true && selectedStock != undefined" class="form-group">
        <label>How many shares would you like to purchase?</label><br>
        <label>Minimum shares to purchase: 1</label><br>
        <label>Maximum shares available for purchase: {{selectedStock.shares}}</label><br>
        <input type="number" formControlName="numberOfSharesPurchased" class="form-control"><br>
    </div>
    <div *ngIf="purchaseShares == true && selectedStock != undefined" class="form-group">
        <label>At what price would you like to purchase these shares?</label><br>
        <label>Minimum price to purchase: $1.00</label><br>
        <input type="number" formControlName="priceOfSharesPurchased" class="form-control"><br>
        <button (click)="updateMarketCapAndStockPrice()">Confirm purchase of shares</button>
    </div>
</form>

<div *ngIf="allStocksByMarketCap != undefined">
    <li *ngFor="let stock of allStocksByMarketCap">
        Company name : {{stock.companyName}}<br>
        {{stock.companyName}} price : {{stock.stockPrice | currency}}<br>
    </li>
</div>
